@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ol>
        <li>1. Salary Conversion</li>
        <li>2. Sensor Aggregation</li>
        <li>3. Sensor Simulation</li>
    </ol>
    <p>Don't forget to add the newtonsoft dependancy</p>
    <p>Created by: Erick Alexander</p>
</div>
